# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs / temp
# =========================
*.log
tmp/
temp/
*.tmp

# =========================
# Output folders
# =========================
outputs/figures/
outputs/tables
#results/

# =========================
# Data folders
# =========================
data/
data/raw_data/
data/anonymized_csv_data/
data/processed_data/
data/raw_data/*.xlsx
data/raw_data/*.ods
data/raw_data/*.ods#

# Große Tabellen / Exporte optional zusätzlich ignorieren
*.xlsx
*.ods

# Workspace
*.code-workspace

# CSV nur ignorieren, wenn wirklich KEINE CSVs tracken
# *.csv

# =========================
# Python build artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment / secrets
# =========================
.env
.env.*
data/c3d_metadata_export.csv
